body {
    background-color: aqua;
}

button {
    background-color: green;
    margin-left: 6px; 
    margin-right:6px;
}

.osites {
    background-color: yellow;
    margin-left: 6px; 
    margin-right:6px;
}